<mat-card class="my-class-with-custom-shadow">
<form [formGroup]="loginForm">
  <mat-form-field>
    <input matInput type="text" formControlName="name" placeholder="User Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" formControlName="password" placeholder="Password">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" formControlName="email" placeholder="email id">
  </mat-form-field>
  <button 
  (click)="loginSubmit()"
  mat-raised-button color="primary" type="submit">submit</button>
</form>
</mat-card>
